<h2>Reviews</h2>
<ng-container *ngIf="reviews">
  <ul>
    <li *ngFor="let review of reviews">
      {{ review.user.displayName }} : {{ review.content }} - Rating: {{ review.rating }} - {{ review.dateCreated | date: "dd/MM/yy"}}
      <button mat-button *ngIf="review.user.id === loggedInUserId" (click)="toggleEditForm(review)">Edit</button>
      <button mat-button *ngIf="review.user.id===loggedInUserId||ifAdmin()" (click)="deleteReview(review)">Delete</button>
      <div *ngIf =" review.showEdit">
        <form [formGroup]="review.editForm" (ngSubmit)="submitEditedReview(review)">
          <label for="rating">Rating:</label>
          <select class="form-control" formControlName="rating" name="rating" id="rating" style="width:100px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <textarea formControlName="content" name="content" placeholder="Edit your review"></textarea>
          <button type="submit">Save</button>
        </form>
      </div>
    </li>
  </ul>
</ng-container>
