<app-toolbar></app-toolbar>

<app-add-category></app-add-category>



<div class="yes">

  <h1>Add Book</h1>
  <form [formGroup]="insertBook" class="flex-column d-flex ml-auto" novalidate (ngSubmit)="Add()" *ngIf="loaded===true">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [formControl]="title" name="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Author</mat-label>
      <input matInput [formControl]="author" name="author" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [formControl]="description" name="description" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>ISBN</mat-label>
      <input matInput [formControl]="isbn" name="isbn" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Book Cover</mat-label>
      <input matInput [formControl]="image" name="image" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <input matInput [formControl]="publisher" name="publisher" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Language</mat-label>
      <input matInput [formControl]="language" name="language" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Page Count</mat-label>
      <input matInput [formControl]="pageCount" name="pageCount" />
    </mat-form-field>

    <mat-form-field formArrayName="categories" >
      <mat-label>Category</mat-label>
      <mat-select name="categories" multiple (selectionChange) ="onCategorySelectionChange($event)" >
        <mat-option *ngFor="let category of allCategories" [value] ="category">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <button mat-button type="submit">Add</button>
  </form>
</div>
